<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='design.css') }}" type="text/css">

    <title>Ученики</title>
</head>
<body>

<div id="block-body">
    <header>
        <div class="logo">
<!--            <a href="/">-->
                <span class="universegy">UNIVERSEGY</span>
<!--            </a>-->
        </div>

        <div class="top-menu">
            <ul>
                <li><a href="students">Ученики</a></li>
                <li>{{ greeting }}</li>
            </ul>
        </div>

        <div class="block-top-auth">
<!--            <p><a href="log_in">Вход</a></p>-->
            <p><a href="log_out">Выход</a></p>
        </div>


    </header>
</div>
<table>
    <tr>
        <th rowspan="2">Класс</th>
        <th rowspan="2">Имя</th>

        <th colspan="3">Итого</th>

        <th colspan="3">Дата</th>

        <th colspan="3">Дата</th>

        <th colspan="3">Дата</th>
    </tr>

    <tr>
        {% for i in [1, 2, 3, 4] %}
        <td>1</td>
        <td>2</td>
        <td>3</td>
        {% endfor %}
    </tr>

    {% for key, value in people.items() %}
    <tr>
    <tr>
        <td rowspan="3">{{ value['grade'] }}</td>
        <td rowspan="3">{{ key }}</td>
        <td rowspan="3">{{ value['total'][1] }}</td>
        <td rowspan="3">{{ value['total'][2] }}</td>
        <td rowspan="3">{{ value['total'][3] }}</td>
        {% for date, blocks in value['date'].items() %}
        <td colspan="3"> {{ date }}</td>


        {% endfor %}
    </tr>
    <tr>
        {% for date, blocks in value['date'].items() %}
        <td>{{ blocks[1] }}</td>
        <td>{{ blocks[2] }}</td>
        <td>{{ blocks[3] }}</td>

        {% endfor %}
    </tr>
    </tr>
    {% endfor %}

</table>
</body>
</html>
