<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='design.css') }}">
    <title>Шапка сайта</title>
</head>
<body>

<div id="block-body">
    <header>
        <div class="logo">
            <a href="universegy.html">
                <span class="universegy">UNIVERSEGY</span>
            </a>
        </div>

        <div class="top-menu">
            <ul>
                <li><a href="students">Ученики</a></li>
                <li><a href="#">Видеоуроки</a></li>
                <li><a href="#">Об авторе</a></li>
                <li><a href="#">Обратная связь</a></li>
            </ul>
        </div>

        <div class="block-top-auth">
            <p><a href="log_in">Вход</a></p>
        </div>


    </header>
</div>

</body>
</html>
